.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}


.board {
  display: flex;
  flex-direction: column
}

.row {
  display: flex;
  flex-direction: row
}
